{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "globals": {
    "__DEV__": true,
    "__dirname": false,
    "__fbBatchedBridgeConfig": false,
    "alert": false,
    "cancelAnimationFrame": false,
    "cancelIdleCallback": false,
    "clearImmediate": true,
    "clearInterval": false,
    "clearTimeout": false,
    "console": false,
    "document": false,
    "escape": false,
    "Event": false,
    "EventTarget": false,
    "exports": false,
    "fetch": false,
    "FormData": false,
    "global": false,
    "jest": false,
    "Map": true,
    "module": false,
    "navigator": false,
    "process": false,
    "Promise": true,
    "requestAnimationFrame": true,
    "requestIdleCallback": true,
    "require": false,
    "Set": true,
    "setImmediate": true,
    "setInterval": false,
    "setTimeout": false,
    "window": false,
    "XMLHttpRequest": false,
    "pit": false,

    // Flow global types.
    "ReactComponent": false,
    "ReactClass": false,
    "ReactElement": false,
    "ReactPropsCheckType": false,
    "ReactPropsChainableTypeChecker": false,
    "ReactPropTypes": false,
    "SyntheticEvent": false,
    "$Either": false,
    "$All": false,
    "$ArrayBufferView": false,
    "$Tuple": false,
    "$Supertype": false,
    "$Subtype": false,
    "$Shape": false,
    "$Diff": false,
    "$Keys": false,
    "$Enum": false,
    "$Exports": false,
    "$FlowIssue": false,
    "$FlowFixMe": false,
    "$FixMe": false
  },
  "rules": {
    "eqeqeq": "warn",
    "indent": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-spaces": "warn",
    "no-return-assign": "warn",
    "no-return-await": "warn",
    "no-tabs": "warn",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none",
        "varsIgnorePattern": "React"
      }
    ],
    "react/no-unused-prop-types": "warn",
    "react/prop-types": 0,
    "standard/array-bracket-even-spacing": "warn",
    "standard/object-curly-even-spacing": "warn"
  }
}
