// color
$color-alizarin: #E74C3C;
$color-pomegranate: #C0392B;
$color-turquoise: #1ABC9C;
$color-green-sea: #16A085;
$color-emerland: #2ECC71;
$color-nephritis: #27AE60;
$color-peter-river: #3498DB;
$color-belize-hole: #2980B9;
$color-amethyst: #9B59B6;
$color-wisteria: #8E44AD;
$color-wet-asphalt: #34495E;
$color-midnight-blue: #2C3E50;
$color-sunflower: #F1C40F;
$color-orange: #F39C12;
$color-carrot: #E67E22;
$color-pumpkin: #D35400;
$color-concrete: #95A5A6;
$color-asbestos: #7F8C8D;

// home scrollView nav bar
$navBarHeight: 40;

// listrow

$topicRowHeight: 90;
$topicImgWrapperPadding: 25;
$topicImgHeight: 40;
