@import "vars";

navBar {
  height: $navBarHeight;
  background-color: rgba(0, 0, 0, 0.75);
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  li {
    height: $navBarHeight;
    width: 60;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-width: 4;
    border-top-color: transparent;
  }
  liActive {
    border-top-color: $color-sunflower;
  }
  item {
    padding: 12px 2px 0px;
    height: $navBarHeight;
  }
  text {
    color: white;
    font-size: 14px;
  }
}

navBarBgImg {
  //height: $navBarHeight;
  //background-color: red;
}

navScroll {
  height: $navBarHeight;
}
