@import "vars";

$rowPaddingLeft: 20;
$rowPaddingTop: ($topicRowHeight - $topicImgHeight)/2;
row {
  height: $topicRowHeight;
  flex-direction: row;
  border-bottom-color: rgba(0, 0, 0, 0.02);
  border-bottom-width: 1;
  padding: $rowPaddingTop 0 $rowPaddingTop $rowPaddingLeft;
}

imgWrapper {
  width: $topicRowHeight;
  position: absolute;
  left: $rowPaddingLeft;
  top: $rowPaddingTop;
  height: $topicRowHeight - $rowPaddingTop;
}

img {
  height: $topicImgHeight;
  width: $topicImgHeight;
  border-radius: $topicImgHeight/2;
}

topic {
  margin-left: $topicImgHeight + $rowPaddingLeft;
}

title {
  font-size: 15;
}

topicFooter {
  margin-top: 12;
  flex-direction: row;
  text {
    font-size: 11;
    color: rgba(0, 0, 0, 0.5);
  }
  date {
    position: absolute;
    right: 0;
    top: 0;
  }
  count {
    margin-right: 15;
  }
  top, good, tab {
    font-size: 11;
    margin: 1 0 0 10;
  }
  top {
    color: $color-alizarin;

  }
  good {
    color: $color-emerland;
  }
}

loading {
  margin-top: 250;
}
